/*- section__top -*/

.top {
    color: var(--white);
    text-align: center;
    padding-top: 40px;
    background-image: url(/assets/image_landing/image__landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    margin-bottom: 150px;
  }
  .top__container {
  }
  .title {
    font-weight: 400;
    font-size: 96px;
    line-height: 114px;
    padding-bottom: 40px;
  }
  .top__link {
    background-color: var(--black);
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid var(--white);
    margin-bottom: 450px;
  }
  
  /*- section__latest-posts -*/
  
  .latest-posts {
    margin-bottom: 50px;
  }
  .latest-posts__container {
  }
  .latest-post__title h2 {
    margin-bottom: 21px;
  }
  .latest-post__title p {
    max-width: 580px;
    margin: 0 auto;
  }