/*- post -*/
p li {
    list-style-type: circle;
    padding-left: 25px;
    list-style-position: inside;
}
.post__row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post__content{
    padding-left: 20px;
}
.post__image-trumb {
    cursor: zoom-in;
}

