  .slider__inner img {
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
  }
  
  .slider__inner button{
    border: none;
    vertical-align:top;
    font-size: 2em;
    color: var(--black);
    cursor: pointer;
    background-color: var(--grey);
    padding: 0px 5px;
    margin: 115px 10px 95px 10px;
  }
  .slider__inner button:active{
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
  }

  .slider__inner {
    display: flex;
    justify-content: space-around;
  }

  .slider__content {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .slider__item {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .slider__headline {
    text-align: center;
    max-width: 980px;
    margin: 0 auto 5px;
    height: 65px;
  }

  .slider__image {
    margin-bottom: 5px;
  }